
.global{
    background-color: #F7F6FA;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.text h1{
    /* color: red; */
    font-size: 30px;
    font-weight: 700;
}
.text p{
color:rgb(169, 169, 169);
}
.box{
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-right: 10px;
    width: 50vw;
    height: 40vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 10px;
}
.text{
    margin-right: 10px;
    margin-top: 11vw;
    padding: 0 8vw;
}