
.global{
    background-color: #F7F6FA;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.text h1{
    /* color: red; */
    font-size: 30px;
    font-weight: 700;
}
.text span{
    color: #523EC4;
    font-weight: 700;
}
.text p{
color:rgb(169, 169, 169);
}
.box{
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-right: 10px;
    width: 50vw;
    height: 40vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 10px;
}
.text{
    margin-right: 10px;
    margin-top: 11vw;
    padding: 0 8vw;
}
.box img{
    padding: 3rem;
    margin-top: -5.4rem;
}
.popup{
    background-color: #523EC4;
    color: white;
    padding: 1rem;
    border-radius: 15px;
    margin-top: -40px;
    margin-left: 90px;
    margin-bottom: 20px;
}
.click{
    color:rgb(100, 35, 160);
    font-weight: 900;
}