.department{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.department h1{
    color: rgb(169, 169, 169);
    font-size: 3rem;
    font-weight: 800;  
}
.departments_1{
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding: 0 2.3rem;
    justify-content: center;
    align-items: center;
}
.departments_1 button{
    height: 6rem;
    width: 6rem;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 5px;
    margin: 50px;
}
