.works1{
    background-color: #F7F6FA;
}
.footer{
    background-color: #0000B0;
    height: 10vh
}
.works{
    display: flex;
}
.works h1{
    font-size: 2rem;
    font-weight: 800;
    color: rgb(169, 169, 169);
    padding: 4rem 1rem;

    /* background-co2or: red; */
}
.circle1{
    height: 7.5rem;
    background-color: white;
    width: 7.5rem;
    border-radius: 50%;
    padding: 1rem 0 ;
    margin: 2rem;
}
.circle2{
    height: 7.5rem;
    background-color:white;
    width: 7.5rem;
    border-radius: 50%;
    padding: 1rem 0;
    margin: 2rem;
}
.circle3{
    height: 7.5rem;
    background-color:white;
    width: 7.5rem;
    border-radius: 50%;
    padding: 1rem 0;margin: 2rem;
}
.circle4{
    height: 7.5rem;
    background-color: white;
    width: 7.5rem;
    border-radius: 50%;
    padding: 1rem 0;
    margin: 2rem;
    
}
.works{
    display: flex;
    flex-wrap: wrap;
}
.arrow1{
    margin-top:5rem;
    margin-left: -0.9rem;
    margin-right: -1rem;
}
.arrow2{
    margin-top:5rem;
    margin-left: -0.9rem;
    margin-right: -1rem;
}
.arrow3{
    margin-top:5rem;
    margin-left: -0.9rem;
    margin-right: -1rem;
}
.button{
    height:1.7rem;
    width:10rem;
    display: flex;
    color: black;
    background-color: white;
    border-radius: 4px;
    justify-content: center;

}
.search{
   padding: .2rem .5rem; 
   margin-top: 0.11rem;
}
.right{
    padding: 1rem;
    /* background-color: red; */
    display: grid;
    justify-content: end;
}
.circle1 img{
    padding: 1rem;
    margin-top: -1.4rem;
}
.circle2 h1{
    font-size: 1.3rem;
    margin-top: -3.2rem;
    margin-left: -0.5rem;
}
.circle3 img{
    padding:0.5rem;
    margin-top: -1.5rem;
}
.circle4 img{
    margin-top: -1rem;
}